
<style>
  @font-face { 
font-family: win; src: url('fonts/windows_command_prompt.ttf')
}
@font-face { 
font-family: bitty; src: url('fonts/Bittypix Monospace.otf')
}
@font-face { 
font-family: monos; src: url('fonts/monospace.medium.ttf')
}

.ref
{
font-family: monos;
font-size: 22px;
color: #c7c7ff;
}

.ref2
{
margin: auto;
width: 50%;
font-family: monos;
font-size: 13px;
color: #c7c7ff;
}

.t
{
font-family: bitty;
font-size: 8px;
color: #c7c7ff;
}

h1
{
font-family: monos;
font-size: 32px;
color: white;
margin-top: 200px;
}

body
{
background: #191820;
}

hr
{
border: 1px dashed #c7c7ff;
}

a
{
color: #c7c7ff;
text-decoration: none;
}

a:hover
{
color: #c7c7ff;
text-decoration: underline;
}  

.blog
{
font-family: monos;
font-size: 15px;
color: #c7c7ff;
width: 900px;
}

.question
{
font-weight: bold;

}


</style>
