
<style>
  @font-face { 
font-family: win; src: url('fonts/windows_command_prompt.ttf')
}
@font-face { 
font-family: bitty; src: url('fonts/Bittypix Monospace.otf')
}
@font-face { 
font-family: monos; src: url('fonts/monospace.medium.ttf')
}

.bluebutton {
	box-shadow:inset 0px 1px 0px 0px #49457a;
	background-color:#49457a;
	border-radius:3px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#c7c7ff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}


.ref
{
text-align: center;
margin: auto;
width: 50%;
font-family: monos;
font-size: 22px;
color: #c7c7ff;
}

.ref2
{
text-align: center;
margin: auto;
width: 50%;
font-family: monos;
font-size: 13px;
color: #c7c7ff;
}

.t
{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 16px;
color: #c7c7ff;
margin-top: 25px;
background: linear-gradient(
  to right, 
  rgb(143, 182, 255), 
  rgb(100,100,255)
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
}

h1
{
font-family: monos;
font-size: 32px;
color: white;
margin-top: 200px;
}

body
{
text-align: center;
margin: auto;
width: 50%;
background: #191820;
}

hr
{
border: 1px solid #c7c7ff;
margin-bottom: 25px;
width: 20%;
}

a
{
color: #c7c7ff;
text-decoration: none;
}

a:hover
{
color: #c7c7ff;
text-decoration: underline;
}  

.blog
{
text-align: center;
margin: auto;
width: 50%;
font-family: monos;
font-size: 15px;
color: #c7c7ff;
width: 900px;
}

.question
{
font-weight: bold;
}

.element {
  display: inline-block;  
}

#logo:hover{
  animation: shake 0.7s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

</style>
