

body {
  background: #798ac2;
  background-image: 
  linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 50px 50px;
}

a {
  text-decoration: none;
  color:#000;
}

.polaroid {
  background: white;
  padding: 10px 10px 25px 10px;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 20px;
  text-align: center;
  width: fit-content;
}

.rotationl {
  transform: rotate(-2deg); /* Optional vintage tilt */
}

.rotationr {
  transform: rotate(2deg); /* Optional vintage tilt */
}

.polaroid img {
  opacity: 0.7;
  display: block;
  max-width: 300px;
  height: auto;
}

.polaroid .caption {
  font-family: 'Courier New', monospace;
  font-size: 12px;
  color: #555;
  margin-top: 10px;
}

.polaroid-gallery {
  position: absolute;
}

.business-card {
  width: 360px;
  background-color: #f8f5f0; /* Ivory */
  color: #222;
  font-family: 'Garamond', 'Times New Roman', serif;
  padding: 40px 30px;
  margin: 10vh auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: none;
  letter-spacing: 1px;
  line-height: 1.5;
}

.business-card:hover{
  transform: translateY(-15px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7);
}

.business-card .name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  letter-spacing: 1.5px;
}

.business-card .title {
  font-size: 14px;
  font-weight: 400;
  color: #444;
  margin-bottom: 4px;
}

.business-card .company {
  font-size: 13px;
  font-style: italic;
  color: #666;
  margin-bottom: 20px;
}

#links {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.icon {
  height: 32px;
  width: 32px;
}

.icon:hover {
 box-shadow: inset 0 0 0 1px #000; /* 3px inner black border */
}


.ticket {
  border: 1px solid;
  border-color:#222;
  display: flex;
  width: 400px;
  height: 150px;
  background: #f8f1e4;
  font-family: 'Georgia', serif;
  position: relative;
  overflow: hidden;
}

.ticket:hover{
  transform: translateY(-15px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7);
}

.ticket-content {
  flex: 3;
  padding: 20px;
  border-right: 2px dashed #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ticket-content h1 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #2c2c2c;
}

.ticket-content p {
  margin: 4px 0;
  font-size: 12px;
  color: #333;
}

.ticket-stub {
  flex: 1;
  background: #e0d6c3;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: 18px;
  color: #2c2c2c;
  padding: 10px;
}
